<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista sin nombre</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list-header>
    Tareas por hacer
  </ion-list-header>

  <ion-list>
    <ion-item>
      <ion-label floating>Nuevo Item</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <button ion-item detail-none>
      <ion-icon name="square-outline" item-start></ion-icon>
      Salvar el mundo
    </button>
  </ion-list>
</ion-content>
